@model Department
@{















  ViewData["Titlephrase"] = "Add Department";

}
<h3>Add New Teacher</h3>
<hr>
<form asp-controller="Department" asp-action="Add" method="POST">
  <input type="hidden" asp-for="Id" />
  <div class="form-group">
    <label asp-for="Name"></label><span class="text-danger" asp-validation-for="Name"></span>
    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Teacher Name">
  </div>
  <div class="form-group">
    <label asp-for="Code"></label><span class="text-danger" asp-validation-for="Code"></span>
    <input type="text" class="form-control" asp-for="Code" placeholder="Class Assigned to Teacher">
  </div>
  <div class="form-group">
    <label asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description" placeholder="Teacher's Address"></textarea>
  </div>
  <div class="form-group">
    <label asp-for="StartDate"></label>
    <input type="date" class="form-control" asp-for="StartDate" placeholder="Enter Datetime"></textarea>
  </div>



  </div>
  <button type="submit" class="btn btn-primary">Save Teacher</button>
</form>