@model Department
@{











  ViewData["Titlephrase"] = "Edit Department";

}
<h3>Edit Teacher</h3>
<hr>
<form asp-controller="Department" asp-action="Edit" method="POST">
  <input type="hidden" asp-for="Id" />
  <div class="form-group">
    <label asp-for="Name"></label><span class="text-danger" asp-validation-for="Name"></span>
    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Teacher Name">
  </div>
  <div class="form-group">
    <label asp-for="Code"></label><span class="text-danger" asp-validation-for="Code"></span>
    <input type="text" class="form-control" asp-for="Code" placeholder="Enter Teacher Code">
  </div>
  <div class="form-group">
    <label asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description" placeholder="Teacher's Address"></textarea>
  </div>
  <div class="form-group">
    <label asp-for="StartDate"></label>
    <input type="date" class="form-control" asp-for="StartDate" placeholder="Enter Start Date"></textarea>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Save Teacher changes</button>
</form>